﻿@{
    ViewBag.Title = "Home Page";
}
<body>
        <div class="row">
            <div class="col-md-3"><img src="~/Content/images/Image.gif" /></div>
            <div class="col-md-3"><img src="~/Content/images/Image.gif" /></div>
            <div class="col-md-3"><img src="~/Content/images/Image.gif" /></div>
        </div>
    <div class="container" id="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
            <li class="#"><a href="#Resources" data-toggle="tab">Resources</a></li>
            <li class="#"><a href="#Account" data-toggle="tab">Account</a></li>
            <li class="#"><a href="#Arrange" data-toggle="tab">Arrange</a></li>
            <li class="#"><a href="#Empower" data-toggle="tab">Empower</a></li>
            <li class="#"><a href="#Innovate" data-toggle="tab">Innovate</a></li>
            <li class="#"><a href="#Create" data-toggle="tab">Create</a></li>
            <li class="#"><a href="#Design" data-toggle="tab">Design</a></li>
            <li class="#"><a href="#Implement" data-toggle="tab">Implement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="Home">
                <div class="row" id="imageborder">
                    <img class="col-md-9" src="~/Content/images/Picture.gif" />
                    <img class="col-md-3" src="~/Content/images/News.gif" />
                </div>
            </div>
            <div class="tab-pane active" id="Resources"></div>
            <div class="tab-pane active" id="Account"></div>
            <div class="tab-pane active" id="Arrange"></div>
            <div class="tab-pane active" id="Empower"></div>
            <div class="tab-pane active" id="Innovate"></div>
            <div class="tab-pane active" id="Create"></div>
            <div class="tab-pane active" id="Design"></div>
            <div class="tab-pane active" id="Implement"></div>
        </div>
    </div>
    <div class="row" id="imageborder">
        <img class="col-md-3" src="~/Content/images/SmallPic.gif" />
        <img class="col-md-3" src="~/Content/images/SmallPic.gif" />
        <img class="col-md-3" src="~/Content/images/SmallPic.gif" />
    </div>
</body>


<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->

<!--this must be commented out-->
<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->