﻿body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#tabs {
    padding-top: 40px;
    padding-bottom: 20px;
}

#imageborder {
    padding: 20px;
}

#bufferfield {
    padding: 10px;
}

#loginregister {
    text-align: center;
}

#title {
    text-align: center;
    font-size:24px;
}