﻿@model CarDealership.Models.Car
@using CarDealership.Repositories

@{
    ViewBag.Title = "Add";
}

<script>
    $(function () {
        $('#datething').datepicker();
        $('#accord').accordion();
    });
</script>

<h2>Add a Car</h2>
<div class="row">
    @using (Html.BeginForm("Add", "Car"))
    {
        <div>@Html.ValidationSummary(true)</div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Make</label><br />
                    @Html.TextBoxFor(x => x.Make, new { placeholder = "Who makes this car?" })
                    @Html.ValidationMessageFor(x => x.Make)
            </div>
            <div class="form-group">
                <label>Model</label><br />
                    @Html.TextBoxFor(x => x.Model, new { placeholder = "Model name?" })
                    @Html.ValidationMessageFor(x => x.Model)
            </div>
            <div class="form-group">
                <label>Year</label><br />
                    @Html.TextBoxFor(x => x.Year, new { placeholder = "Year?" })
                    @Html.ValidationMessageFor(x => x.Year)
            </div>
            <div class="form-group">
                <label>Image Url</label><br />
                    @Html.TextBoxFor(x => x.ImageUrl, new { placeholder = "Place image here" })
                    @Html.ValidationMessageFor(x => x.ImageUrl)
            </div>
            <div class="form-group">
                <label>Make</label><br />
                    @Html.TextBoxFor(x => x.Title, new { placeholder = "Model name?" })
            </div>
            <div class="form-group">
                <label>Description</label><br />
                    @Html.TextAreaFor(x => x.Description, new { placeholder = "Please describe the vehicle" })
                    @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="form-group">
                <label>Price</label><br />
                    @Html.TextBoxFor(x => x.Price, new { placeholder = "Price?" })
                    @Html.ValidationMessageFor(x => x.Price)
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    }
</div>