﻿@model CarDealership.Models.Car
@{
    ViewBag.Title = "Details";
}

<body>
    <h3>@Html.DisplayFor(m => m.Title)</h3>
    <div class="col-md-10">
        <div id="spacing"><img src="@Html.DisplayFor(m => m.ImageUrl)" /></div>
        <div>
            <p>Make: @Html.DisplayFor(m => m.Make)</p>
            <p>Model: @Html.DisplayFor(m => m.Model)</p>
            <p>Year: @Html.DisplayFor(m => m.Year)</p>
            <p>Price: @Html.DisplayFor(m => m.Price)</p>
            <p>Description:
                @Html.DisplayFor(m => m.Description)</p>
        </div>
    </div>
</body>
